<section>
    <div class="row">
      <div class="col text-center">
        <b>ADMINISTRACION RESULTADOS</b>
      </div>
    </div>
  </section>
  <br>
  <section>
    <div class="float-right">
      <button (click)="crearResultado()" type="button" class="btn btn-success">Crear Resultado</button>
    </div>
  </section>
  <br><br><br>

<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th *ngFor="let columnaActual of nombreColumnas" scope="col">{{columnaActual}}</th>
        
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let resultado of listadoResultados">
           <tr>
            <td>{{resultado._id}}</td>
            <td>{{resultado.numero_mesa}}</td>
            <td>{{resultado.cedula_candidato}}</td>
            <td>{{resultado.numero_votos}}</td>
            <td>
              <button (click)="modificarResultado(resultado._id)" type="button" class="btn btn-primary">
                <i class="fas fa-pencil-alt"></i>
              </button>
              
              <button (click)="eliminarResultado(resultado._id)" type="button" class="btn btn-danger">
                <i class="fas fa-solid fa-trash"></i>
              </button>
                
            </td>
           </tr> 
   
        </ng-container>   
    </tbody>
  </table>