<div class="container">
    
    <div class="row">
        <div class="col">
            <b *ngIf="modoCreacion"> CREAR RESULTADO </b>
            <b *ngIf="!modoCreacion"> MODIFICAR RESULTADO </b>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col col-sm-2">ID:</div>
        <div class="col col-lg-4">
            
            <input [disabled]="!modoCreacion" [(ngModel)]="infoResultado._id" class="form-control" type="text" placeholder="{{infoResultado._id}}">
            <p *ngIf="intentoEnvio" style="color:#B23000"> Requerido </p>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col col-sm-2">Numero_Mesa:</div>
        <div class="col col-lg-4">
            <input [(ngModel)]="infoResultado.numero_mesa" class="form-control" type="text" placeholder="{{infoResultado.numero_mesa}}">
            <p *ngIf="intentoEnvio" style="color:#B23000"> Requerido </p>
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col col-sm-2">Cedula_Candidato:</div>
        <div class="col col-lg-4">
            <input [(ngModel)]="infoResultado.cedula_candidato" class="form-control" type="text" placeholder="{{infoResultado.cedula_candidato}}">
            <p *ngIf="intentoEnvio" style="color:#B23000"> Requerido </p>
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col col-sm-2">Numero_Votos:</div>
        <div class="col col-lg-4">
            <input [(ngModel)]="infoResultado.numero_votos" class="form-control" type="text" placeholder="{{infoResultado.numero_votos}}">
            <p *ngIf="intentoEnvio" style="color:#B23000"> Requerido </p>
        </div>
        
    </div>
    <div class="row">
        <div class="col col-lg-4">
            <button (click)="crearResultado()" *ngIf="modoCreacion" type="button" class="btn btn-success">Crear</button>
            <button (click)="modificarResultado()" *ngIf="!modoCreacion"  type="button" class="btn btn-warning">Modificar</button>
        </div>
    </div>

</div>
